body {
    text-align: center;
}

h1 {
    color: rgb(2, 132, 130);
}

h2 {
    color: #ffd700;
}

.board {
    height: 50%;
    width: 50%;
    display: inline-block;
}

.card {
    height: 200px;
    width: 150px;
    border: #000000 1px solid;
    background-color: rgb(255, 255, 0);
    border-radius: 10px;
    float: left;
    margin: 8%;
}

.name {
    color: #ff0000;
}

nav {
    background-color: #808080;
}

nav a {
    text-decoration: none;
    background-color: #ffbf00;
    color: white;
    padding: 35px;
    display: block;
    float: left;
}

a:hover {
    background-color: #ee5f3c;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    font-size: 0;
}

footer {
    clear: both;
    background-color: #808080;
    text-align: center;
}

header {
    text-align: center;
}

p {
    text-align: center;
}
